p, h1, h2, h3, h4, a, div, span{
  margin:0;
  padding:0;
}

.titulo-header{
  text-align: center;
}

#menu-icon{
  width  : 38px;
  margin : 15px 0 0 15px;
  padding-bottom:15px;
  cursor:pointer;
  .menu-line{
    background     : red;
    width          : 38px;
    height         : 3px;
    margin-bottom  : 5px;
  }
}

#share-loc .menu-content{
  margin : 0px 15px;
  height : 50px;
}

.share-loc-container{
  margin-top:64px;
}


.button-selection{
  padding-top:16px;
  color:#fff;
  font-size:16px;
  text-align: center;
  font-weight: 700;
  overflow: auto;
  height: 30px;
  border: 1px solid #fff;
  font-size:14px;
}
.boton-rojo{
  background-color: #e9322d;
}
.boton-azul{
  background-color: #0000ff;
}

.form-preferencias{
  padding:0 15px;
}