<div class="pure-g">
  <div class="pure-u-1">
    <form class="pure-form pure-form-stacked">
      <fieldset>
        <legend>Compartir Lugar</legend>

        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" placeholder="Nombre">

        <label for="descripcion">Descripcion</label>
        <input id="descripcion" type="text" placeholder="Descripcion">

        <label for="remember" class="pure-checkbox">
          <input id="remember" type="checkbox"> Recordar Lugar?
        </label>

        <button type="submit" class="pure-button pure-button-primary">Enviar Lugar</button>
      </fieldset>
    </form>
  </div>
</div>
